{{extend 'layout.html'}}

<h1>{{=T('Statistics')}}</h1>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#form">{{=T('New')}}</button>
<div id="form" class="collapse {{if request.args(1):}}in{{pass}}">
  {{=form}}
</div>

<div style="float:right">
  {{=A(T('activate'), _href=URL('engine', 'activate_stats', args=client.id), _class="btn btn-danger")}}
</div>

<table class="table">
  <thead>
    <tr>
      <th>{{=T('Name')}}</th>
      <th>{{=T('Queue Length')}}</th>
      <th>{{=T('Time window')}}</th>
      <th>{{=T('Save interval')}}</th>
      <th>{{=T('Metrics')}}</th>
      <th>{{=T('Setup Interval')}}</th>
      <th>{{=T('TORs')}}</th>
      <th>{{=T('Cdr Hosts')}}</th>
      <th>{{=T('Cdr Sources')}}</th>
      <th>{{=T('Request Types')}}</th>
      <th>{{=T('Directions')}}</th>
      <th>{{=T('Tenants')}}</th>
      <th>{{=T('Categories')}}</th>
      <th>{{=T('Accounts')}}</th>
      <th>{{=T('Subjects')}}</th>
      <th>{{=T('Destination Codes')}}</th>
      <th>{{=T('Pdd Interval')}}</th>
      <th>{{=T('Usage Interval')}}</th>
      <th>{{=T('Suppliers')}}</th>
      <th>{{=T('Disconnect Causes')}}</th>
      <th>{{=T('Mediation RunIds')}}</th>
      <th>{{=T('Rated Accounts')}}</th>
      <th>{{=T('Rated Subjects')}}</th>
      <th>{{=T('Cost Interval')}}</th>
      <th>{{=T('Triggers')}}</th>
    </tr>
  </thead>
  <tbody>
    {{for st in stats:}}
    <tr>
      <td>{{=st.name}}</td>
      <td>{{=st.queue_length}}</td>
      <td>{{=st.time_window}}</td>
      <td>{{=st.save_interval}}</td>
      <td>{{=', '.join(st.metrics)}}</td>
      <td>{{=st.setup_interval}}</td>
      <td>{{=', '.join(st.tors)}}</td>
      <td>{{=', '.join(st.cdr_hosts)}}</td>
      <td>{{=', '.join(st.cdr_sources)}}</td>
      <td>{{=', '.join(st.req_types)}}</td>
      <td>{{=', '.join(st.directions)}}</td>
      <td>{{=', '.join(st.tenants)}}</td>
      <td>{{=', '.join(st.categories)}}</td>
      <td>{{=', '.join(st.accounts)}}</td>
      <td>{{=', '.join(st.subjects)}}</td>
      <td>{{=', '.join(st.destination_ids)}}</td>
      <td>{{=st.pdd_interval}}</td>
      <td>{{=st.usage_interval}}</td>
      <td>{{=', '.join(st.suppliers)}}</td>
      <td>{{=', '.join(st.disconnect_causes)}}</td>
      <td>{{=', '.join(st.mediation_run_ids)}}</td>
      <td>{{=', '.join(st.rated_accounts)}}</td>
      <td>{{=', '.join(st.rated_subjects)}}</td>
      <td>{{=st.cost_interval}}</td>
      <td>{{=', '.join(st.triggers)}}</td>
      <td>
	<div class="btn-group"  role="group" aria-label="actions">
	  {{=A(T('edit'), _href=URL('default', 'stats', args=(st.client.id, st.id)), _class="btn btn-link")}}
	</div>
      </td>
    </tr>
    {{pass}}
  </tbody>
</table>
