{{extend 'layout.html'}}

<h3>{{=T('Statement No %s') % invoice.statement_no}}</h3>
<hl>
  <p>{{=T('Date of Statment')}}: {{=invoice.created_on}}.</p>
  <p>{{=T('To be paid within %s days of invoice date') % invoice.client.payment_period}}.</p>
  <p>{{=T('To be paid before')}} {{=to_be_paid_date}}</p>
  <div>
    <div style="float:right">
      <h4>{{=T('TO')}}: {{=invoice.client.name}}</h4>
      {{=invoice.client.address}}
    </div>
    <div>
      <h4>{{=T('FROM')}}:  {{=invoice.client.reseller.name}}</h4>
      {{=invoice.client.reseller.address}}
    </div>
  </div>
  {{=T('Statment FOR:VoIP services from %s to %s, timezone %s') % (invoice.start_date, invoice.end_date, invoice.client.time_zone)}}.

  <table class="table">
    <thead>
      <tr>
	<th>{{=T('Destination')}}</th>
	<th>{{=T('Rate')}}</th>
	<th>{{=T('Calls')}}</th>
	<th>{{=T('Minutes')}}</th>
	<th>{{=T('Cost')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
    </tbody>
  </table>
  <div>
{{=A('pdf me', _href=URL('accounting', 'pdf_me'))}}
  </div>
